body {
  background: #007bffdd;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  /* background: scroll center url('/IMAGE/cifrado-imag.jpg'); */
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  width: 200px;
}


.d-flex{
  justify-content: space-between;
  margin-top: 30px;
}

.form-floating{
  margin-top: 30px;
}

.btn-primary{
  margin-right: 10px;
}

.custom-shadow {
  box-shadow: 0 5 20px rgba(0, 0, 0, 0.566); /* Personaliza la sombra según tus preferencias */
}

.text-primary{
  text-decoration: none;
}

.title-matriz{
  margin-top: 50px;
}

/* Estilo para cambiar el color de las líneas de la tabla */
table.table-bordered, table.table-bordered tr, table.table-bordered td {
  border: 3px solid #000; /* Cambia #000 al color que desees */
}

/* Estilo para las líneas alternas de la tabla */
table.table-striped tr:nth-child(even) {
  background-color: #f9f9f9; /* Cambia #f9f9f9 al color que desees */
}

.content-tab{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-custom {
  width: 100%; /* Cambia el ancho de la tabla según sea necesario */
  font-size: 24px; /* Cambia el tamaño de fuente según sea necesario */
}

td{
  text-align: center;
}
